body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(cluster.jpg);
    background-size: cover;
    
  }
  .container{
    border-radius: 10px;
    margin: auto;
    width:640px;
    height:640px;
    display:flex;
    flex-wrap: wrap;
  
  }
  .card{
    position: relative;
    font-size: 20px;
    width: 23%;
    height: 29%;
    border-radius: 10px;
    border: none rgb(241, 240, 240) 8px;
    box-sizing: border-box;
    margin: 4px;
    
  }

  .front,
  .back
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    background: linear-gradient(35deg, rgb(137, 241, 174), rgb(24, 29, 26));
    
   
  }
  
  .front{
    z-index: 2;   
  }
  .back{
    z-index: 2;
    display: flex;
    
  
  }
  strong{
      color: #F9E214;
  }
  
  .button{
    margin: auto;
    background-color: #89F1AE; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
  }
  
  .count{
  margin:auto;
  font-size: 4em;
  font-family: 'Monoton', cursive;
  color: #F9E214;
  }
  
  .fas{
  font-size: 5em;
  margin: auto;
  color: white
  }
  
  .newgame
  {
  border-radius: 8px;
  background-color: rgb(181, 187, 181, .85);
  border: double;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  }
  
  p{
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
  }
  
  .dropbtn {
    background-color: #89F1AE;
    color: white;
    height:45px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #4E8CF6;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: #2A1FAD;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
    
  .show {display:block;}
